<li>
	{{burger_name}}

	<button class="change-state" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}EAT ME!{{else}}SERVE ME UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE ME!</button>
</li>
